<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" *ngIf="dispRegioni">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="dispRegioni">Dati Regione {{nomeRegione}}</ion-title>
    <ion-title *ngIf="!dispRegioni">Dati Nazionali</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="data">

  <ion-card>
    <canvas baseChart 
  [datasets]="chartData" 
  [labels]="chartLabels" 
  [options]="chartOptions" 
  [colors]="chartColors"  
  [chartType]="chartType">
  </canvas>
  </ion-card>

  <ion-list>
    <ion-item-group>
      <ion-item-divider>
        <ion-label color="contagiati"><h1>CONTAGIATI</h1></ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-label color="contagiati-attuali"
          ><p>Attuali: {{data.totale_attualmente_positivi}} persone</p></ion-label
        >
      </ion-item>
      <ion-item>
        <ion-label color="ospedalizzati"
          ><p>Ospedalizzati: {{data.totale_ospedalizzati}} persone</p></ion-label
        >
      </ion-item>
      <ion-item>
        <ion-label color="ospedalizzati"
          ><p>
            In isolamento domiciliare: {{data.isolamento_domiciliare}} persone
          </p></ion-label
        >
      </ion-item>
      <ion-item>
        <ion-label color="terapia-intensiva"
          ><p>In terapia intensiva: {{data.terapia_intensiva}} persone</p></ion-label
        >
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        <ion-label color="deceduti"><h1>DECEDUTI</h1></ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-label color="danger"><p>Totale: {{data.deceduti}} persone</p></ion-label>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        <ion-label color="guariti"><h1>GUARITI</h1></ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-label color="success"><p>Totale: {{data.dimessi_guariti}} persone</p></ion-label>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        <ion-label color="primary"><h1>TAMPONI EFFETTUATI</h1></ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-label color="secondary"><p>Totale: {{data.tamponi}} tamponi</p></ion-label>
      </ion-item>
    </ion-item-group>

    <ion-item>
      <ion-label><h1>TOTALE: {{data.totale_casi}} persone</h1></ion-label>
    </ion-item>
  </ion-list>
</ion-content>
