<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" *ngIf="dispRegioni">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="dispRegioni">Dati Regione {{nomeRegione}}</ion-title>
    <ion-title *ngIf="!dispRegioni">Dati Nazionali</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="data">
  <ion-card>
    <canvas
      baseChart
      [datasets]="chartData"
      [labels]="chartLabels"
      [options]="chartOptions"
      [colors]="chartColors"
      [chartType]="chartType"
    >
    </canvas>
  </ion-card>

  <ion-button (click)="onClick()" expand="full" fill="solid" shape="round" color="primary">
    Andamento
  </ion-button>

  <ion-list>
    <ion-item-group>
      <ion-item-divider>
        <ion-label color="dark">
          <h2>TOTALE: {{data.totale_casi}} persone</h2>
        </ion-label>
      </ion-item-divider>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        <ion-label color="contagiati">
          <h2>CONTAGIATI</h2>
        </ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-label color="contagiati-attuali">
          Attuali: {{data.totale_attualmente_positivi}} persone
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label color="ospedalizzati">
          Ospedalizzati: {{data.totale_ospedalizzati}} persone
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label color="ospedalizzati">
          In isolamento domiciliare: {{data.isolamento_domiciliare}} persone
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label color="terapia-intensiva">
          In terapia intensiva: {{data.terapia_intensiva}} persone
        </ion-label>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        <ion-label color="deceduti">
          <h2>DECEDUTI</h2>
        </ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-label color="danger">
          Totale: {{data.deceduti}} persone
        </ion-label>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        <ion-label color="guariti">
          <h2>GUARITI</h2>
        </ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-label color="success">
          Totale: {{data.dimessi_guariti}} persone
        </ion-label>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        <ion-label color="primary">
          <h2>TAMPONI EFFETTUATI</h2>
        </ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-label color="secondary">
          Totale: {{data.tamponi}} tamponi
        </ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>

  <!-- Skeleton screen -->
  <div *ngIf="!data">
    <ion-list>
      <ion-item>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
