<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="lista-regioni">
      <ion-icon name="list"></ion-icon>
      <ion-label>Regioni</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="nazionali">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>Nazionali</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lista-province">
      <ion-icon name="list"></ion-icon>
      <ion-label>Province</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
